[submodule "external/FunctionalPlus"]
	path = external/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "examples/notebooks/reveal.js"]
	path = notebooks/reveal.js
	url = https://github.com/hakimel/reveal.js.git
