[submodule "external/FunctionalPlus"]
	path = external/FunctionalPlus
	url = https://github.com/Dobiasd/FunctionalPlus.git
[submodule "notebooks/reveal.js"]
	path = notebooks/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "external/type_name"]
	path = external/type_name
	url = https://github.com/pthom/type_name.git
